# Ignore Gradle project-specific cache directory
.gradle

# Ignore ACS editor directory
.acside

# Ignore Kotlin directory
.kotlin

# Ignore Gradle build output directory
build

# Local machine SDK path
local.properties
secrets.properties